.about-me {
	min-height: 100vh;
	display: flex;
	padding: 2rem 5%;
	width: 100%;
}

.about-me .title {
	margin-top: 10rem;
}

.about-me>div {
	width: 50%;
	padding: 1rem;
}

.about-me p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	line-height: 1.5rem;
}

.timeline {
	padding-left: 3rem;
	position: relative;
	font-size: 1.1rem;
	margin-top: 2rem;
}

.timeline>h1 {
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: 500;
}

.timeline::after {
	position: absolute;
	content: '';
	top: 60px;
	left: 35px;
	width: 2px;
	height: calc(100% - 60px);
	background-color: rgb(var(--primary));
}

.timeline>ul {
	list-style-type: none;
}

.timeline li {
	font-family: 'Open Sans', sans-serif;
}

.timeline-item {
	position: relative;
}

.timeline-list {
	padding-left: 2rem;
}

.timeline-description {
	margin-block: 1rem;
}

.timeline-item::before {
	position: absolute;
	content: '';
	top: 6px;
	left: -53px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid rgb(var(--primary));
	background-color: black;
	z-index: 99;
}

.timeline .designation {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.timeline .place {
	color: rgb(var(--primary));
	letter-spacing: 0.1rem;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-weight: 500;
}

.about-me .intro {
	font-size: 1.25rem;
	font-weight: 500;
	color: #fff;
	background: linear-gradient(to top right, #ffffff00, #1fc3ff21);
	padding: 1.5rem 3rem;
	border-radius: 12px;
	text-align: center;
}

.about-me .intro p {
	margin-block: 0.4rem;
	line-height: 1.8rem;
	color: rgba(255, 255, 255, 0.85);
	/* Slightly softer white */
}

.about-me .intro strong {
	color: rgb(31, 195, 255);
	/* Your primary color */
	font-weight: 600;
}

@media screen and (max-width: 1100px) {
	.about-me {
		padding: 4rem 5% 2rem;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		text-align: center;
	}

	.about-me>div {
		width: 100% !important;
		padding: 0;
	}

	.about-me .title {
		margin-top: 2rem;
	}

	.timeline {
		padding-left: 2rem;
		text-align: left;
	}

	.timeline>h1 {
		font-size: 1.8rem;
	}

	.timeline::after {
		left: 20px;
	}

	.timeline-item::before {
		left: -38px;
	}

	.about-me .intro {
		padding: 1.5rem;
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 600px) {
	.timeline .designation {
		font-size: 1.2rem;
	}

	.timeline .place {
		font-size: 0.9rem;
	}

	.about-me .intro p {
		font-size: 1rem;
		line-height: 1.6rem;
	}
}